/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.hoverTable:hover{
  background-color:gray;
  cursor:pointer;
}

.hoverTable:active{
  background-color:gray;
  cursor:pointer;
}

body {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}

div.showBorder {
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  border:1px solid black;
}

div.displayArea {
  position:relative;
  height: 100%;
  overflow: hidden;
}

div.treeArea {
  height: 100%;
  width: 30%;
  float: left;

}

button.clearfix {
  display: block;
  clear: both;
}

h1, img{
  display:inline;
}

img.topRight{
  position: absolute;
  top: 2%;
  right: 5%;
}

h1.topLeft{
  margin-left: 1%;
}

.container {
  position:relative;
  padding-bottom: 50px;
}

div.relative{
  position:relative;
  padding-bottom: 20px;
}

button.paddingRigth{
   margin-right: 10px;
}

 #secondButtonsArea{
   padding-top: 20px;
 }

 .spaceBetweenAtt{
   padding-bottom: 10px;
 }

 div.ngViewArea {
   position: relative;
   overflow: hidden;
   padding-top: 5%;
 }

 #tableDisplayArea {
   overflow-x: auto;
   white-space: nowrap;
 }
