<!doctype html>
<html lang="en" ng-app="DBEditorAPF">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <link rel="stylesheet" href="public/css/main.css">
  <link rel="stylesheet" href="public/js/vakata-jstree-0097fab/dist/themes/default/style.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-route/angular-route.min.js"></script>
  <script src="public/js/vakata-jstree-0097fab/dist/jstree.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="public/js/main.js"></script>
  <script src="public/js/controllers/databasesControllers.js"></script>
  <script src="public/js/controllers/loginControllers.js"></script>
  <script src="node_modules/chart.js/dist/Chart.min.js"></script>
  <script src="public/js/controllers/dashboardControllers.js"></script>
</head>
<body ng-controller="postgresqlController" >
  <div ng-controller="loginController" ng-mouseover="verifco()">
    <header class="container" ng-controller="loginController" ng-init="verifco()">
      <div ng-if="isLoggedOn()">
        <a href="/"><img src="public/css/img/logo_DBE.png" /></a>
      </div>
      <div ng-if="!isLoggedOn()">
        <img src="public/css/img/logo_DBE.png" />
      </div>
      <a target="_blank" href="https://www.orange-business.com"><img src="public/css/img/logo.png" class="topRight" /></a>
    </header>
    <div ng-controller="loginController">
      <nav ng-if="isLoggedOn()" class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" >
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Databases
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#!/db_management">Databases management</a>
                <a class="dropdown-item" href="#!/db_views">Databases views</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/help">Help</a>
            </li>
          </ul>
          <form class="navbar-text">
            <button class="btn btn-outline-success my-2 my-sm-0" ng-click="clear_cook()">Déconnexion</button>
          </form>
        </div>
      </nav>
      <div>
        <img src="public/css/img/reload.png" />
      </div>
    </div>
    <div class="ngViewArea" ng-view></div>
  </div>

</body>
</html>
