/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.hoverTable:hover{
  background-color:gray;
  cursor:pointer;
}

.hoverTable:active{
  background-color:gray;
  cursor:pointer;
}

body {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}

div.displayArea {
  position:relative;
  height: 100%;
  overflow: hidden;
}

div.treeArea {
  height: 100%;
  width: 30%;
  float: left;
  overflow-x: auto;

}

button.clearfix {
  display: block;
  clear: both;
}

h1, img{
  display:inline;
}

img.topRight{
  position: absolute;
  top: 2%;
  right: 5%;
}

h1.topLeft{
  position: relative;
  margin-left: 5px;
}

.container {
  position:relative;
  padding-bottom: 20px;
}

div.relative{
  position:relative;
  padding-bottom: 20px;
}

button.paddingRigth{
   margin-right: 10px;
}

 #secondButtonsArea{
   padding-top: 20px;
 }

 .spaceBetweenAtt{
   padding-bottom: 10px;
 }

 div.ngViewArea {
   position: relative;
   overflow: hidden;
   padding-top: 5%;
 }

 #tableDisplayArea {
   overflow-x: auto;
   white-space: nowrap;
 }

.jstree-default ul.jstree-loading .jstree-icon {
    background:url("/css/img/loading.gif") center center no-repeat !important;
}

.divSquare{
  width: 48%;
  height: 100%;
  margin: 1%;
  border: 1px
  solid: black;
  float: left;
  text-align:center;
}

fieldset.chartDisplayBorder {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.chartDisplayBorder {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
footer {
  text-align: center;
  padding-top: 10%;
}

div.treeProviders {
  padding-bottom: 3%;
}

input.add_config {
  background: url(public/css/img/plus.png) no-repeat center;
  border: none;
}
