<div ng-controller="loginController">
  <div ng-if="isAdmin()" ng-controller="configurationController">
    <h1>Configuration</h1><i> En travaux</i>
    <div class="form-control" ng-repeat="var in variables">
      <div ng-if="var.type == select">
        <label>{{var.description}}</label>
        <select class="form-control">
          <option selected>{{var.selectedValue}}</option>
          <option ng-repeat="val in var.value">{{val}}</option>
        </select>
      </div>
      <div ng-if="var.type == input">
        <label>{{var.description}}</label>
        <input class="form-control" value="{{var.value}}" />
      </div>
      <div ng-if="var.type == list">
        <label>{{var.description}}</label>
        <select class="form-control" id="{{var.name}}" ng-keydown="deleteValue(var.name, $event)" multiple>
          <option ng-repeat="val in var.value" ng-dblclick="modifyValue(var.name,val)" value="{{val}}" >{{val}}</option>
        </select>
        <input type="button" ng-click="addValue(var.name)" class="btn btn-success btn-sm" style="background: url(public/css/img/plus.png) no-repeat; border: none;" />
      </div>
    </div>
    <input type="button" value="Done" ng-click="saveValues()" class="btn btn-info" />
  </div>
  <div ng-if="!isAdmin()">
    <h1>Forbidden access : you are not administrator</h1>
  </div>
</div>
