<div ng-controller="loginController" ng-init="verifco()">
  <div ng-controller="chartDisplayController" ng-init="loadDB()">
    <a ng-init="wait()" />
    <form ng-if="readyDB && readyValues && readyChartSondeTenant">
      <fieldset class="chartDisplayBorder">
        <legend class="chartDisplayBorder">Tenant</legend>
        <div ng-repeat="chart in chartsSondeTenant track by $index" class="divSquare">
          <canvas id="sondeTenant" height="200%" ng-init="loadChartSondeTenant(chart)"></canvas>
          <div ng-if="$index%2 == 0" style='clear:both' />
        </div>
      </fieldset>
    </form>
    <form>
      <fieldset class="chartDisplayBorder">
        <legend class="chartDisplayBorder">Miscellaneous</legend>
        <div class="divSquare" ng-if="readyDB">
          <canvas id="nbTablesInDB" ng-init="loadChartNbTablesInDB()" height="200%"></canvas>
          <p style="padding-top: 2%">Number of table(s) in a database<p>
        </div>
        <div class="divSquare" ng-if="readyDB && readyMemory">
          <canvas id="dbMemory" ng-init="loadChartDbMemory()" height="200%"></canvas>
          <p style="padding-top: 2%">Memory of database(s) in Mb<p>
        </div>
        <div style='clear:both'></div>
        <div ng-if="readyValues && readyDBChart">
          <div ng-repeat="db in databases track by $index" class="divSquare">
            <canvas id="nbTuplesInTable" height="200%" ng-init="loadChartNbTuplesInTable(db.name)"></canvas>
            <div ng-if="$index%2 == 0" style='clear:both' />
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
