<div ng-controller="loginController" ng-init="verifco()">
  <div ng-controller="chartDisplayController" ng-init="loadDB()">
    <div class="divSquare" ng-if="readyDB">
      <a ng-init="loadTableValues()" />
      <a ng-init="loadDbMemory()" />
      <canvas id="nbTablesInDB" ng-init="loadChartNbTablesInDB()" height="200%"></canvas>
      <p style="padding-left: 23%; padding-top: 3%">Number of table(s) in a database<p>
    </div>
    <div class="divSquare" ng-if="readyDB && readyMemory">
      <canvas id="dbMemory" ng-init="loadChartDbMemory()" height="200%"></canvas>
      <p style="padding-left: 23%; padding-top: 3%">Memory of database(s) in Mb<p>
    </div>
    <div style='clear:both'></div>
    <div ng-if="readyValues && readyDBChart">
      <div ng-repeat="db in databases track by $index" class="divSquare">
        <canvas id="nbTuplesInTable" height="200%" ng-init="loadChartNbTuplesInTable(db.name)"></canvas>
        <div ng-if="$index%2 == 0" style='clear:both' />
      </div>
    </div>
    <div class="divSquare" ng-if="ready">
    </div>
    <div class="divSquare" ng-if="ready">
    </div>
    <div style='clear:both'></div>
    <div class="divSquare" ng-if="ready">
    </div>
    <div class="divSquare" ng-if="ready">
    </div>
  </div>
</div>
