<div ng-controller="loginController" ng-init="verifco()">
  <div ng-controller="chartDisplayController" ng-init="loadDB()">
    <div class="divSquare" ng-if="readyDB">
      <a ng-init="loadTableValues()" />
      <canvas id="nbTablesInDB" ng-init="loadChartNbTablesInDB()" height="200%"></canvas>
      <legend>Number of table(s) in a database<legend>
    </div>
    <div style='clear:both'></div>
    <div ng-if="readyValues && readyDBChart">
      <div ng-repeat="db in databases track by $index" class="divSquare">
        <canvas id="nbTuplesInTable" height="200%" ng-init="loadChartNbTuplesInTable(db.name)"></canvas>
        <div ng-if="$index%2 == 0" style='clear:both' />
      </div>
    </div>
    <div class="divSquare" ng-if="ready">
    </div>
    <div class="divSquare" ng-if="ready">
    </div>
    <div style='clear:both'></div>
    <div class="divSquare" ng-if="ready">
    </div>
    <div class="divSquare" ng-if="ready">
    </div>
  </div>
</div>
