<div ng-controller="mainProvidersController" >
  <a ng-init="checkProvider()" />
  <div ng-if="readyCheckProvider">
    <div ng-if="selectedProvider == awsProvider" ng-controller="awsProviderController">
      {{controller}}
    </div>
    <div ng-if="selectedProvider == azureProvider" ng-controller="azureProviderController">
      {{controller}}
      <a ng-init="queryTenants()" />
      <div ng-if="readyQueryTenants" ng-repeat="tenant in tenants">

      </div>
    </div>
    <div ng-if="selectedProvider == fcaProvider" ng-controller="fcaProviderController">
      {{controller}}
    </div>
    <div ng-if="selectedProvider == feProvider" ng-controller="feProviderController">
      {{controller}}
    </div>
  </div>
</div>
