<div ng-controller="mainProvidersController" >
  <a ng-init="checkProvider()" />
  <div ng-if="readyCheckProvider">
    <div ng-if="selectedProvider == awsProvider" ng-controller="awsProviderController">
      {{controller}}
    </div>
    <div ng-if="selectedProvider == azureProvider" ng-controller="azureProviderController">
      <a ng-init="queryTenantsBis()" />
      <p>{{controller}}</p>
      <div id="treeTenantsAzure" ng-if="readyQueryTenants">
        <ul>
           <li data-jstree='{"icon":"public/css/img/provider_azure.png"}'><a class="inactiveLink">{{controller}}</a>
             <ul ng-repeat="tenant in tenants">
               <li id="{{tenant.uuid}};{{tenant.name}}" data-jstree='{"icon":"public/css/img/tenant.png"}'>{{tenant.tenant_name}} / {{tenant.tenant_region}}</li>
             </ul>
           </li>
        </ul>
        <a ng-init="loadJSTreeBis()" />
      </div>
    </div>
    <div ng-if="selectedProvider == fcaProvider" ng-controller="fcaProviderController">
      {{controller}}
    </div>
    <div ng-if="selectedProvider == feProvider" ng-controller="feProviderController">
      {{controller}}
    </div>
  </div>
</div>
