<div ng-controller="mainProvidersController">
  <a ng-init="checkProvider()" />
  <div ng-if="selectedProvider == awsProvider" ng-controller="awsProviderController">
    {{controller}}
  </div>
  <div ng-if="selectedProvider == azureProvider" ng-controller="azureProviderController">
    {{controller}}
    <a ng-init="loadTenants()" />
    <div ng-if="readyTenant" ng-repeat="tenant in tenants">
      <fieldset>
        <legend>{{tenant.name}}</legend>
      </fieldset>
    </div>
  </div>
  <div ng-if="selectedProvider == fcaProvider" ng-controller="fcaProviderController">
    {{controller}}
  </div>
  <div ng-if="selectedProvider == feProvider" ng-controller="feProviderController">
    {{controller}}
  </div>
</div>
