<div id="addRowArea" ng-controller="addRowAreaController">
  <div>
    <div ng-repeat="att in attributes" class="form-group">
      <div ng-if="!checkIfIsReference(att.column_name)" class="spaceBetweenAtt">
        <label>{{att.column_name}} : </label>
        <input type="text" id="{{att.column_name}}" class="form-control"/>
        <i style="font-size: small">{{att.data_type}}</i>
      </div>
      <div ng-if="checkIfIsReference(att.column_name)" class="spaceBetweenAtt">
        <label>{{att.column_name}} : </label>
        <select id="{{att.column_name}}" class="form-control">
          <option ng-repeat="ref in getReferences(att.column_name) track by $index" value="{{ref}}" title="{{ref}}">{{ref}}</option>
        </select>
        <i style="font-size: small">{{att.data_type}}</i>
      </div>
    </div>
    <button id="saveButton" ng-click="saveRecord()" class="paddingRigth btn btn-info" type="button">Save</button>
    <button id="cancelButton" ng-click="cancelRecord()" class="btn" type="button">Cancel</button>
  </div>
</div>
