<div id="addRowArea" ng-controller="addRowAreaController">
  <div>
    <div ng-repeat="att in attributes">
      <div ng-if="!checkIfIsReference(att.column_name)" class="spaceBetweenAtt">
        {{att.column_name}}: <input type="text" id="{{att.column_name}}"/>
      </div>
      <div ng-if="checkIfIsReference(att.column_name)" class="spaceBetweenAtt">
        {{att.column_name}}: <select>
                   <option ng-repeat="ref in references" value="{{ref}}">{{ref}}</option>
                 </select>
      </div>
    </div>
    <button id="saveButton" ng-click="saveRecord()" class="paddingRigth">Save</button>
    <button id="cancelButton" ng-click="cancelRecord()">Cancel</button>
  </div>
</div>
