<div ng-controller="loginController" ng-init="verifco()">
  <div ng-controller="chartDisplayController" ng-init="loadDB()">
    <div class="divSquare" ng-if="readyDB">
      <a ng-init="loadTableValues()" />
      <canvas id="nbTablesInDB" ng-init="loadChartNbTablesInDB()" height="200%"></canvas>
    </div>
    <div ng-if="readyValues && readyDBChart">
      <canvas ng-repeat="db in databases" id="nbTuplesInTable" ng-init="" height="200%"></canvas>
      <a ng-init="loadChartNbTuplesInTable()" />
    </div>
    <div style='clear:both'></div>
    <div class="divSquare" ng-if="ready">
    </div>
    <div class="divSquare" ng-if="ready">
    </div>
    <div style='clear:both'></div>
    <div class="divSquare" ng-if="ready">
    </div>
    <div class="divSquare" ng-if="ready">
    </div>
  </div>
</div>
