<div ng-controller="loginController" ng-init="verifco()">
  <div ng-controller="chartDisplayController" ng-init="loadDB()">
    <div class="divSquare" ng-if="readyDB">
      <canvas id="nbTablesInDB" ng-init="loadChartNbTablesInDB()" height="200%"></canvas>
    </div>
    <div class="divSquare" ng-if="readyValues">
      <canvas id="nbTuplesInTable" ng-init="loadChartNbTuplesInTable()" height="200%"></canvas>
    </div>
    <div style='clear:both'></div>
    <div class="divSquare" ng-if="ready">
    </div>
    <div class="divSquare" ng-if="ready">
    </div>
    <div style='clear:both'></div>
    <div class="divSquare" ng-if="ready">
    </div>
    <div class="divSquare" ng-if="ready">
    </div>
  </div>
</div>
