<div ng-controller="loginController" ng-init="verifco()">
  <div ng-controller="chartDisplayController" ng-init="loadDB()">
    <div class="divSquare" ng-if="ready">
      <canvas id="nbTablesInDB" ng-init="loadChartNbTablesInDB()" height="200%"></canvas>
    </div>
    <div class="divSquare" ng-if="ready">
      <canvas id="nbTablesInDB1" ng-init="loadChart()"></canvas>
    </div>
    <div style='clear:both'></div>
    <div class="divSquare" ng-if="ready">
      <canvas id="nbTablesInDB2" ng-init="loadChart()"></canvas>
    </div>
    <div class="divSquare" ng-if="ready">
      <canvas id="nbTablesInDB3" ng-init="loadChart()"></canvas>
    </div>
  </div>
</div>
