<div ng-controller="treeDatabaseAreaController">
  <div id="databasesArea"  class="treeArea">
    <div id="treeDatabaseArea" ng-if="ready" class="relative">
      <ul ng-repeat="db in databases">
         <li data-jstree='{"icon":"/css/img/db.png"}'><a class="inactiveLink">{{db.name}}</a>
           <ul ng-repeat="tab in db.table">
             <li id="{{db.name}};{{tab.table_name}}" onclick="isTableSelected(id)" data-jstree='{"icon":"/css/img/table.png"}'>{{tab.table_name}}</li>
           </ul>
         </li>
       </ul>
    </div>
    <div id="databasesButtonArea" class="relative" ng-controller="buttonAreaController">
      <button id="displayButton" ng-click="display()" class="paddingRigth btn btn-primary" type="button">Display</button>
      <button id="clearButton" ng-click="clear()" type="button" class="btn">Clear</button>
    </div>
  </div>
  <div id="columnsDisplayArea" class="displayArea" style="display:none;">
    <div id="tableDisplayArea" ng-controller="columnsDisplayAreaController" class="table-responsive">
      <table id="tableColumnsDisplay" class="table table-bordered">
        <thead>
          <tr>
            <th ng-repeat="col in columns">{{col.column_name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr id="{{tuple.values}}" ng-repeat="tuple in tuples track by $index" onclick="isRowSelected(id)" class="hoverTable">
            <td id="{{tuple.column_names[$index].column_name}};{{tuple.values}};{{val}}" ng-repeat="val in tuple.values track by $index" title={{setIdForToolTips(tuple.values,tuple.column_names[$index].column_name,val)}}>{{val}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="secondButtonsArea" ng-controller='buttonAreaController'>
      <button id="addButton" ng-click="add()" class="paddingRigth btn btn-success" type="button"><a>Add</button>
      <button id="modifyButton" ng-click="modify()" class="paddingRigth btn btn-warning" type="button">Modify</button>
      <button id="deleteButton" ng-click="delete()" class="paddingRigth btn btn-danger" type="button">Delete</button>
      <button id="showRelationsButton" ng-click="showRelations()" class="btn btn-secondary" type="button">Show relations</button>
    </div>
  </div>
  <br>
  <div class="displayArea">
    <div ng-if="displayNothing"></div>
    <div ng-if="displayAdd">
      <div id="addRowArea" ng-controller="addRowAreaController">
        <div>
          <div ng-repeat="att in attributes" class="form-group">
            <div ng-if="!checkIfIsReference(att.column_name)" class="spaceBetweenAtt">
              <label>{{att.column_name}} : </label>
              <input type="text" id="{{att.column_name}}" class="form-control"/>
              <i style="font-size: small">{{att.data_type}}</i>
            </div>
            <div ng-if="checkIfIsReference(att.column_name)" class="spaceBetweenAtt">
              <label>{{att.column_name}} : </label>
              <select id="{{att.column_name}}" class="form-control">
                <option id="a{{att.column_name}}{{ref.id}}" ng-repeat="ref in references[$index][att.column_name] track by $index" value="{{ref.id}}" title="{{setIdForToolTips(ref.id,att.column_name)}}">{{ref.name}}</option>
              </select>
              <i style="font-size: small">{{att.data_type}}</i>
            </div>
          </div>
          <button id="saveButton" ng-click="saveRecord()" class="paddingRigth btn btn-info" type="button">Save</button>
          <button id="cancelButton" ng-click="cancelRecord()" class="btn" type="button">Cancel</button>
        </div>
      </div>
    </div>
    <div ng-if="displayModify">
      <div id="modifyRowArea" ng-controller="modifyRowAreaController">
        <div>
          <div ng-repeat="att in attributes" class="form-group">
            <div ng-if="!checkIfIsReference(att.name.column_name)" class="spaceBetweenAtt">
              <label>{{att.name.column_name}} : </label>
              <input type="text" id="{{att.name.column_name}}" value="{{att.value}}" class="form-control"/>
              <i style="font-size: small">{{att.data_type}}</i>
            </div>
            <div ng-if="checkIfIsReference(att.name.column_name)" class="spaceBetweenAtt">
              <label>{{att.name.column_name}} :</label>
              <select id="{{att.name.column_name}}" class="form-control">
                <option id="m{{att.name.column_name}}{{ref.id}}" ng-repeat="ref in references[$index][att.column_name] track by $index" value="{{ref}}" title="{{setIdForToolTips(ref,att.name.column_name)}}">{{ref}}</option>
              </select>
              <i style="font-size: small">{{att.data_type}}</i>
            </div>
          </div>
          <button id="saveButton" ng-click="saveRecord()" class="paddingRigth btn btn-info" type="button">Save</button>
          <button id="cancelButton" ng-click="cancelRecord()" class="btn" type="button">Cancel</button>
        </div>
      </div>
    </div>
    <div ng-if="displayRelations">
      <div ng-controller="relationsAreaController" class="displayArea">
        <div ng-if="ready" class="table-responsive">
          <table id="tableRelations" class="table table-bordered">
            <thead>
              <tr>
                <th ng-repeat="table in tables track by $index">{{table}}</th>
              </tr>
            </thead>
            <!--<tbody>
              <tr id="{{tuple.values}}" ng-repeat="tuple in tuples track by $index">
                <td id="{{tuple.column_names[$index].column_name}};{{tuple.values}};{{val}}" ng-repeat="val in tuple.values track by $index" title={{setIdForToolTips(tuple.values,tuple.column_names[$index].column_name,val)}}>{{val}}</td>
              </tr>
            </tbody>-->
          </table>
        </div>
      </div>
  <div>
</div>
