<div id="connexion" ng-controller="loginController">
  <center>
  	<form class="login">
  		<p class="petit_titre">Connexion</p>
  		<p>Nom d'utilisateur</p>
  		<input type="text" name="var2" required id="user" />
  		<br/><p>Mot de passe</p>
  		<input type="password" name="var3" required id="pass"/>
      <br/><input type="checkbox" name="check" id="check"/><a>  Remember me</a>
  		<br/><input type="button" value="Se connecter" ng-click="iden()"/>
      <br/><input type="button" value="cookie" ng-click="readCookie()"/>
	  </form>
  </center>
</div>
